.member {
  width: 145px;
  height: 195px;
}

.song {
  width: 200px;
  height: 200px;
}

.singlesong {
  width: 600px;
  height: 600px;
}

.icon {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 20px;
}
